[submodule "emu"]
	path = lib/emu
	url = https://git.sch.bme.hu/matrix-group/emu.git
	ignore = dirty
[submodule "lib/gainput"]
	path = lib/gainput
	url = https://github.com/jkuhlmann/gainput.git
	ignore = dirty